.container .card .title{
  border: 5px solid black;
  padding: 5px;
  margin: 5px;
  
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border: 5px solid black;

}
.card{
  font-size: 20px;
  border: 5px solid black;
  
}
.title{
  justify-content: center;
}
#player{
  border: 5px solid black;
  padding: 5px;
  margin: 5px;
  display:flex;
  justify-content: center;
  align-items: center;
}